.navigation {
	height: 50px;
	font-size: 13px;
	background-color: rgb(238, 238, 238);
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Lato', sans-serif;
	border: 2 px solid grey;
}

nav h1{
	padding-top: 10px;
}
nav ul{
	display: inline-block;
	list-style: none;
}

nav li{
	display: inline-block;
	text-align: right;
	position: relative;
}

.search-bar {
	margin-left: 40px;
	display: block;

}

.page-navigation{
	font-family: font-family: 'PT Sans', sans-serif;
	margin-left: 40px
}

.page-navigation p {
	display: inline;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 3px
}


